* {
	font-family: 'Inter', sans-serif;
	margin: 0;
}
body {
	width: 100vw;
	height: 5000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
}

path {
	fill: #ccc;
	stroke: #fff;
	stroke-width: 0.5px;
}

path:hover {
	fill: red;
}

.toposvg {
	/* transform: rotate(180deg) scaleX(-1); */
}
